
<div class="img">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
  <a class="navbar-brand col-md-3" routerLink="">Club USA</a>
  </div>
      <ul class="col-md-9">
        <li><a routerLink="classes">Fittness Classes</a></li>
        <li><a routerLink="about">About</a></li>
      </ul>
    </div>
  </nav>

</div>

<div class="container">
  <!-- <h1>{{title}}</h1> -->
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
    <a class="rights">All Rights Reserved by © Club USA</a>
  </div>
</footer>
