<div class="container-fluid">

<h2>Welcome to Club USA!!</h2>

<h1 class="tagLine">Our Gym is your Gym</h1>
<p>Kick your feet up! With a gym designed around you, we think you’ll love it here.</p>

<div id="wrapper">
  <div id="slideshow">
    <p>This becomes your second home</p>
     <!-- <div  class="logo"><a href="http://mtbo.ca"><img src="http://www.mthibault.ca/images/logo.png" alt="mthibault.ca" /></a></div> -->
  </div>
</div>
<h3>No Judgments are the Best Kind</h3>
<div class="row">
  <div class="col-md3">
    <img src="https://d22inbfp2wq0a3.cloudfront.net/assets/illustration--positivity-light-93e6eaa31ffe5bf8c0f80e0a7f15f90c64f6a82737a11e6b2a510500e137c016.png" height='250px' alt="Positivity Image">
    <h1>POSITIVITY</h1>
  </div>
  <div class="col-md3">
    <img src="https://d22inbfp2wq0a3.cloudfront.net/assets/illustration--inclusivity-light-09aff2bed351817c782bd57695ad13ffd31e2b5f6a311c4169e92c087bd1aa95.png" height='250px' alt="INCLUSIVITY">
    <h1>INCLUSIVITY</h1>
  </div>
  <div class="col-md3">
    <img src="https://d22inbfp2wq0a3.cloudfront.net/assets/illustration--fun-light-400-1ab8ad2a8f2e1c05f1b5191853e02fb11e9e7f9eab61cc560b2a9eec0cf8a9ef.png" height='250px'alt="FUN">
    <h1>FUN</h1>
  </div>

</div>
</div>
