<div class="panel panel-info">
  <h3>Edit Class Details</h3>

  <label>New Class Title:</label>
  <input [(ngModel)] = "selectedClass.title">
  <br>
  <label>New Description:</label>
  <input [(ngModel)] = "selectedClass.description">
  <br>
  <label>New Instructor Name:</label>
  <input [(ngModel)] = "selectedClass.instructor">
  <br>
  <button class="btn btn-info" (click)="beginUpdatingClass(selectedClass)">Update</button>
  <button class="btn btn-danger" (click)="beginDeletingClass(selectedClass)">Delete</button>

</div>
